<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">

</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid" style="margin:30px;background-color: white">
    <div class="row">
        <div class="col-md-12 col-lg-9 col-xs-12">
            <span class="glyphicon glyphicon-list" aria-hidden="true" style="font-size: large">发现</span>
            <div class="media" th:each="question : ${pagination.getQuestionExts()}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object"   th:src="${question.getUser().getAvatarUrl()}" style="width:100px">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${question.getQuestion().getTitle()}"></h4>
                    <span class="text-desc"><span th:text="${question.getQuestion().getCommentCount()}"></span>个回复.<span th:text="${question.getQuestion().getViewCount()}"></span>个浏览<span></span></span>
                </div>

            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a th:href="'/?page=1'"  th:if="${pagination.showFirst}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        <a th:href="'/?page='+${pagination.page-1}"  th:if="${pagination.showPrevious}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="arr : ${pagination.getArrays()}"th:class="${pagination.page == arr}? 'active' : ''" >
                        <a th:href="@{'/?page='+${arr}}" th:text="${arr}" ></a>
                    </li>

                    <li>
                        <a th:href="'/?page='+${pagination.page+1}" th:if="${pagination.showNext}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                        <a th:href="'/?page='+${pagination.totalPages}" th:if="${pagination.showEnd}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-12 col-lg-3 col-xs-12">
        </div>
    </div>

</div>


</body>
</html>